PORT=8000
MONGODB_URI=mongodb+srv://saifalikhan:<password>@cluster0.pue8lwu.mongodb.net
CORS_ORIGIN=*


ACCESS_TOKEN_SECRET=chai-or-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECREТ=chai-or-backend
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=